<!DOCTYPE html>
<html ng-app="SiteFlowApp" lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=medium-dpi" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="shortcut icon" href="/common_resources/pc/images/favicon/favicon.png" /><!-- [C] 추 후 절대경로로 변경 예정 -->
		<link rel="apple-touch-icon" href="/common_resources/pc/images/favorite/favorite.png" /><!-- [C] 추 후 절대경로로 변경 예정 -->
		<meta name="description" content="2025 KBS 라이브 뮤직 프로젝트
더 시즌즈 #8 <10CM의 쓰담쓰담>

센치한 금요일 밤,
음악과 이야기를 담은 심야 음악 토크쇼.
우리의 마..." />
		<meta name="keywords" content="시즌즈, 더시즌즈, KBS, 권정열,10CM, 쓰담쓰담, rnjswjdduf" />
		<meta property="og:title" content="더 시즌즈" />
		<meta property="og:site_name" content="더 시즌즈" />
		<meta property="og:image" content="https://programres.kbs.co.kr/t2022-1011/2025/8/21/1755755086924_599504.jpg" />
		<meta property="og:description" content="2025 KBS 라이브 뮤직 프로젝트
더 시즌즈 #8 <10CM의 쓰담쓰담>

센치한 금요일 밤,
음악과 이야기를 담은 심야 음악 토크쇼.
우리의 마..." />
		<!-- 안드로이드 홈화면추가시 상단 주소창 제거 -->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- ios홈화면추가시 상단 주소창 제거 -->
		<meta name="apple-mobile-web-app-capable" content="yes">
        <!-- 구글 지식패널 소유권을위한 태그 -->
        <meta name="google-site-verification" content="8ZNy8eTdU1K1W0ftuI4m-Z98HlasX8dLIBLNar91VpA" />
		<title>더 시즌즈 | 디지털 KBS</title>
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/font.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/common.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/layout.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/components.css" media="all" />
		<!--[C] 컴퍼넌트 관련 css-->
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/owl.carousel2.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/common_resources/pc/css/swiper.css" media="all" />
        <base href=".">
		<!-- FOOTER 전용 -->
		<link rel="stylesheet" type="text/css" href="/common_resources/pc/css/footer.css" media="all" />
		<!-- Redirection Rules-->
		<script type="text/javascript" src="/common_resources/pc/js/redirection.js"></script>
	</head>

	<body ng-controller="SiteController as vm">
		<div id="skipNav" class="skip_navi">
			<ul>
				<li><a href="#content-skiplink" ng-click="vm.goContent();$event.preventDefault();">본문 바로가기</a></li>
				<li><a href="https://able.kbs.co.kr">장애인서비스 바로가기</a></li>
				<li><a href="#header-menu-skiplink" ng-click="vm.goHeader();$event.preventDefault();">메뉴 바로가기</a></li>
				<li><a href="#footer" ng-click="vm.goFooter();$event.preventDefault();">푸터 바로가기</a></li>
			</ul>
		</div><!-- //#skip_navigation-->

		<div id="wrap">
			<div id="container" class="fix"><!-- [C] 메인을 제외한 곳은 .fix항상 추가 --><!-- 2017-07-26 .fix 추가해 주세요 -->
				<common-header></common-header>
				<div id="content" class="program-list">
					<h2 class="blind" id="content-skiplink" tabindex="0">본문영역</h2>
					<component-container></component-container>
				</div><!-- //#content -->
				<common-footer></common-footer>
			</div><!-- //#container -->
		</div><!-- //#wrap -->
		<script type="text/javascript" src="/common_resources/pc/js/lib/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/lib/handlebars-v4.0.5.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/lib/clipboard.min.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/lib/kakao.min.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/vars.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/common.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/components.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/lib/owl.carousel2.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/lib/swiper.jquery.js"></script>
		<script type="text/javascript" src="/common_resources/pc/url/url.js"></script>
		<script type="text/javascript" src="/common_resources/pc/js/footer.js"></script>
<script type='text/javascript' src='site-flow-app.7dd8b8dc223271919f24.js'></script>
</body>

</html>
